body {
    font-family: 'Muli', sans-serif;
}
#start-button {
    font-style: italic;
}

#question-block {
    display: none;
}

#finalscore
#highscore-list
#results
#questions-display
#answer-block
 {
    padding: 500px;


}

.btn {
    background-color: rgb(235, 162, 114);
    border: 4px black solid;
    margin: auto;
}
