body {
    font-family: 'Muli', sans-serif;
}
#start-button {
    font-style: italic;
}

#question-block {
    display: none;
}

.btn {
    background-color: rgb(235, 162, 114);
    border: 4px black solid;
    margin: auto;
}

#results {
    font-size: 20px;
}