body {
    font-family: 'Muli', sans-serif;
}
#start-button {
    font-style: italic;
}

#question-block {
    display: none;
}

#finalscore
#highscore-list
#results
#questions-display {
    text-align: center;
    padding: 20px;
}